<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <meta name="description" content="URL Shortener, a FreeCodeCamp API Development Project">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/e988dce1-d2ce-4821-b48b-05e3ba26290f%2Ffavicon.ico?1504528150109" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener
      </h1>
    </header>
    <main>
      <p>View source code at <a href="https://github.com/xxyzz/url-shortener" target="_blank">here</a></p>
      <h2>Example creation usage:</h2>
      <code>https://industrious-plow.glitch.me/new/https://www.wikipedia.org</code>
      <h2>Example creation output</h2>
      <code>{ "original_url":"https://www.wikipedia.org", "short_url":"https://industrious-plow.glitch.me/3536" }</code>
      <h2>Usage:</h2>
      <code>https://industrious-plow.glitch.me/3536</code>
      <h2>Will redirect to:</h2>
      <code>https://www.wikipedia.org/</code>
    </main>
  </body>
</html>
